<div class="jumbotron">
    <!--<h1>ProvGen!</h1>-->
    <!--<p class="lead">-->
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
    <!--</p>-->
    <!--<p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
    <iframe src="https://docs.google.com/presentation/d/1d7skZI4CCCdCrlVQQUp_nsTex9giotM346m8Js7tkv8/embed?start=false&loop=false&delayms=3000" frameborder="0" width="580" height="464" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>

<div class="row marketing">
    <h4>Seed Graphs</h4>
    <p>
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Constraint Syntax</h4>
    <p>
        AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Valid PROV</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
</div>
